[submodule "Packages/Package Control"]
	path = Packages/Package Control
	url = https://github.com/wbond/sublime_package_control.git
[submodule "Packages/Theme - Soda"]
	path = Packages/Theme - Soda
	url = git://github.com/buymeasoda/soda-theme.git
[submodule "Packages/Git"]
	path = Packages/Git
	url = git://github.com/kemayo/sublime-text-2-git.git
[submodule "Packages/Sass"]
	path = Packages/Sass
	url = git@github.com:afgomez/sass-textmate-bundle.git
[submodule "Packages/SublimeLinter"]
	path = Packages/SublimeLinter
	url = git://github.com/SublimeLinter/SublimeLinter.git
[submodule "Packages/Color Scheme - Better Cobalt"]
	path = Packages/Color Scheme - Better Cobalt
	url = git://github.com/afgomez/better-cobalt.git
[submodule "Packages/ShowFilenameStatus"]
	path = Packages/ShowFilenameStatus
	url = git@github.com:shyam-habarakada/sublime-showfilenamestatus.git
